* {
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: rgb(27, 65, 27);
  color: white;
  display: grid;
  grid-template-columns: 400px auto 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-right-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

li {
  color: white;
  list-style-type: none;
  margin-right: 18px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  background-color: wheat;
  width: 250px;
  padding: 30px;
  margin: 50px;
}

.product-image {
  width: 100%;
  height: 350px;
}

.hidden {
  display: none;
}

.display {
  display: flex;
}
